  {{articles}}
      <button class="btn btn-primary saveBtn" type="button" data-id="{{_id}}" data-saved="{{saved}}" data-toggle="modal" data-target="#saveModal">
        Save Article
      </button>
      <br>