  {{articles}}
      <button class="btn btn-outline-success waves-effect addNote" data-id="{{_id}}" data-toggle="modal" data-target="#noteModal">Add a Note</button>
      <a href="/savedArticles">
      <button class="btn btn-outline-danger waves-effectdelArt" data-id="{{_id}}">Delete Article</button>
      </a>
      <br>